.vh{
    width: 100%;
    height: 500px;
    background: red;
}
.footer {
    padding-top: 30px;
    height: 350px;
    width: 100%;
    background-color: #404040;
    color: white;
    left: 0;
    bottom: 0;
    font-size: 16px;
  }
  .footl {
    height: inherit;
    width: 35%;
    float: left;
  }
  .footr {
    height: inherit;
    width: 65%;
    float: left;
  }
  .footl img {
    height: 125px;
    width: 300px;
    margin-left: 60px;
    margin-top: 60px;
    text-align: center;
  }
  .footl_icon {
/*     width: 50%;
 */    height: fit-content;
    margin-left: 95px;
    text-align: center;
  }
  .footl i {
    color: white;
    font-size: 25px;
    padding: 15px;
  }
  .footl i:hover {
    color: #ca9443;
  }
  .link1 {
    height: inherit;
    width: 33.33%;
    float: left;
    text-align: center;
  }
  .link2 {
    height: inherit;
    width: 33.33%;
    float: left;
    text-align: center;
  }
  .cont {
    height: inherit;
    width: 33.33%;
    float: left;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .link1_title {
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .link2_title {
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .cont_title {
    width: 100%;
    height: 35px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .link1_info {
    padding-top: 25px;
    font-family: "Montserrat", sans-serif;
  }
  .link1_info div {
    border-bottom: 1px solid white;
    width: 60%;
    padding: 5px;
    margin-left: 45px;
  }
  .link1_info div:hover {
    color: #ca9443;
  }
  .link2_info {
    padding-top: 25px;
    font-family: "Montserrat", sans-serif;
  }
  .link2_info div {
    border-bottom: 1px solid white;
    width: 60%;
    padding: 5px;
    margin-left: 45px;
  }
  .link2_info div:hover {
    color: #ca9443;
  }
  .cont_info {
    padding-top: 30px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .footerbottom {
    width: 100%;
    height: 50px;
    float: left;
    padding-top: 30px;
    text-align: center;
    margin-top: 35px;
    background-color: rgb(22, 22, 22);
    border-top: 1px solid white;
  }
  @media (max-width: 1440px)
  {
    .footl_icon{
        margin-left: -94px;
    }

  }
  @media (max-width: 1262px)
  {
    .footl_icon{
        margin-left: 40px;
    }

  }
  @media (max-width: 1024px)
  {
    .footl_icon{
        margin-left: 87px;
    }

  }
  @media (max-width: 880px)
  {
    .footl_icon{
        margin-left: 55px;
    }
    .footl img{
        margin-left: 15px;
    }
  }
  @media (max-width: 768px)
  {
    .footl_icon{
        margin-left: 15px;
        margin-top: -10px;
    }
    .footl img{
        width: 215px;
        height: 100px;
    }
    .link1_info{
        margin-left: -40px;
    }
    .link2_info{
        margin-left: -45px;
    }
    .link1_title{
        margin-left: -10px;
    }
    .link2_title{
        margin-left: -10px;
    }
  }
  @media(max-width:655px)
  {
    .footl_icon{
        margin-left: -30px;
        margin-top: -10px;
        font-size: -5px;
    }
    .footl img{
        width: 195px;
        height: 85px;
        margin-left: -10px;
    }
    .link1_info{
        margin-left: -77px;
    }
    .link2_info{
        margin-left: -65px;
    }
    .link1_title{
        margin-left: -30px;
    }
    .link2_title{
        margin-left: -25px;
    }
    /* .cont_info{

    } */
  }
  @media(max-width: 600px){
    .footl_icon{
        margin-left: -30px;
        margin-top: -10px;
        font-size: -5px;
    }
    .footl img{
        width: 195px;
        height: 85px;
        margin-top: 110px;
        margin-left: -10px;
    }
    .link1_info{
        /* padding-top: 70px; */
        font-size: 10px;
    }
    .link2_info{
        /* padding-top: 70px; */
        font-size: 10px;
    }
    .link1_title{
        margin-left: -30px;
        margin-top: 50px;
        font-size: 15px;
    }
    .link2_title{
        margin-left: -25px;
        margin-top: 50px;
        font-size: 15px;
    }
    .cont_title{
        margin-top: 54px;
        margin-left: -5px;
        font-size: 15px;
    }
    .cont_info{
        font-size: 10px;
        padding-top: 55px;

    }

  }
  @media(max-width: 590px){

    .footl_icon{
        margin-left: 102px;
        margin-top: -105px;
        font-size: -5px;
        padding-left: 400px;
    }
    .footl img{
        width: 328px;
        height: 139px;
        margin-top: 93px;
        margin-left: 115px
    }
    .link1_info div{
        width: 70%;
    }
    .link1_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -44px;
    }
    .link2_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -44px;

    }
    .link1_title{
        margin-left: 40px;
        margin-top: -1145px;
        font-size: 25px;

    }
    .link2_title{
        margin-left: 22px;
        margin-top: -690px;
        font-size: 25px;
        padding-right: 90px;
        

    }
    .cont_title{
        width: 210px;
        padding-right: 20px;
        margin-top: -235px;
        margin-left: -20px;
        font-size: 30px;

    }
    .cont_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: -28px;

    }
    .footer {
        padding-top: 1200px;
    }

  }
  @media(max-width: 425px){

    .footl_icon{
        margin-left: -57px;
        margin-top: -131px;
        font-size: -5px;
        padding-left: 400px;
    }
    .footl img{
        width: 328px;
        height: 139px;
        margin-top: 93px;
        margin-left: 7px
    }
    .link1_info div{
        width: 70%;
    }
    .link1_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -73px;
    }
    .link2_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -62px;

    }
    .link1_title{
        margin-left: 19px;
        margin-top: -1145px;
        font-size: 25px;

    }
    .link2_title{
        margin-left: 22px;
        margin-top: -690px;
        font-size: 25px;
        padding-right: 90px;
        

    }
    .cont_title{
        width: 210px;
        padding-right: 20px;
        margin-top: -235px;
        margin-left: -43px;
        font-size: 30px;

    }
    .cont_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: -54px;

    }
    .footer {
        padding-top: 1200px;
    }

  }
  @media(max-width: 375px){

    .footl_icon{
        margin-left: -108px;
        margin-top: -131px;
        font-size: -5px;
        padding-left: 400px;
    }
    .footl img{
        width: 268px;
    height: 113px;
    margin-top: 93px;
    margin-left: -11px;
    }
    .link1_info div{
        width: 70%;
    }
    .link1_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -73px;
    }
    .link2_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -62px;

    }
    .link1_title{
        margin-left: 19px;
        margin-top: -1145px;
        font-size: 25px;

    }
    .link2_title{
        margin-left: 22px;
        margin-top: -690px;
        font-size: 25px;
        padding-right: 90px;
        

    }
    .cont_title{
        width: 210px;
        padding-right: 20px;
        margin-top: -235px;
        margin-left: -43px;
        font-size: 30px;

    }
    .cont_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: -54px;

    }
    .footer {
        padding-top: 1200px;
    }

  }
  @media(max-width: 320px){

    .footl_icon{
        margin-left: -150px;
        margin-top: -131px;
        font-size: -5px;
        padding-left: 400px;
    }
    .footl img{
        width: 268px;
    height: 113px;
    margin-top: 93px;
    margin-left: -11px;
    }
    .link1_info div{
        width: 70%;
    }
    .link1_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -92px;
    }
    .link2_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: -80px;

    }
    .link1_title{
        margin-left: 2px;
        margin-top: -1145px;
        font-size: 25px;

    }
    .link2_title{
        margin-left: 2px;
        margin-top: -690px;
        font-size: 25px;
        padding-right: 90px;
        

    }
    .cont_title{
        width: 210px;
        padding-right: 20px;
        margin-top: -235px;
        margin-left: -50px;
        font-size: 30px;

    }
    .cont_info{
        width: 250px;
        padding-top: 30px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: -65px;
    }
    .footer {
        padding-top: 1200px;
    }

  }